
//@theme "/nix/store/kc4badc137rhmgykhcvdc1yik2niqnmh-rofi-2.0.0/share/rofi/themes/android_notification.rasi"

@theme "/nix/store/x2z809xiyb6ip74zxi0n5sb2vaqf52ry-rofi-2.0.0/share/rofi/themes/android_notification.rasi"
