configuration {
    modes:               "drun,script:~/.config/rofi/scripts/launcher.sh";
    show-icons:          true;
    icon-theme:          "CybrCyanPapirus";
    display-drun:        "Apps";
    display-script:      "Scripts";
    drun-display-format: "{name}";
    font:                "monospace 11";
    kb-mode-next:        "Tab";
    kb-mode-previous:    "Shift+Tab";
    kb-row-tab:          "Control+Tab";
    kb-element-next:     "Control+period";
    kb-row-up:           "Up,Control+p";
    kb-element-prev:     "Control+comma";
}
@theme "~/.config/rofi/cybrcyan.rasi"
